
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
#account-box {
    height: 85vh;
}
#user_info {
    width: 100%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {
     transform: scale(1.1); 
     cursor: pointer;
    }

#user-list{
    height: 85vh;
    overflow-y: scroll;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(45, 205, 148);
	border-radius: 10px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 6px;
	background-color: #2DCD94;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(45, 205, 148);
	background-color: #2DCD94;
}


.picked{
	background-color: #2DCD94;
}
#profile{
	cursor: pointer;
}
#addacc{
	cursor: pointer;
}
.inner-user{
	cursor: pointer;
}
.mt-6{
	margin: 150px;
}
.eye:hover {
	cursor: pointer;
}

.load{
	position: absolute;
	top: 45%;
	left: 48%;
}

#team-user{
	overflow-x: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
	display: flex;
	width: 90%;
}


#team-user .card{
	flex: 0 0 auto;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}







.profile-header-img {
    float: left;
    
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    
}



    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }
    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }
    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }



	#content {
		overflow-y: scroll;
		height: 100vh;
	  }