
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
#account-box {
    height: 85vh;
}
#user_info {
    width: 100%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {
     transform: scale(1.1); 
     cursor: pointer;
    }

#user-list{
    height: 85vh;
    overflow-y: scroll;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(45, 205, 148);
	border-radius: 10px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 6px;
	background-color: #2DCD94;
}

::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgb(45, 205, 148);
	background-color: #2DCD94;
}



#profile{
	cursor: pointer;
}
#addacc{
	cursor: pointer;
}
.inner-user{
	cursor: pointer;
}
.mt-6{
	margin: 150px;
}
.eye:hover {
	cursor: pointer;
}

.load{
	position: absolute;
	top: 45%;
	left: 48%;
}

#team-user{
	overflow-x: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
	display: flex;
	width: 90%;
}
#user-badge {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: gold;
    top: -20px;
   
}


/* clip-path: polygon(51% 100%, 0 0, 100% 0); */

#team-user .card{
	flex: 0 0 auto;
}

.friend-list,
.img-grid-list {
    margin: -1px;
    list-style-type: none;
}

.coming-soon-cover img,
.email-detail-attachment .email-attachment .document-file img,
.email-sender-img img,
.friend-list .friend-img img,
.profile-header-img img {
    max-width: 100%;
}







.profile-header-img {
    float: left;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    
}

.cursor {
    cursor: pointer;
}

.pop :hover{
    background-color: gray;
}

#client-background {

}

.profile-header-cover {
    background-size: 100% cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 170px;
    background-repeat: center no-repeat;
    z-index: 1;
    -webkit-mask-image:-webkit-gradient(linear, left top , left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.profile-header-cover img{
    /* background-color: linear-gradient(to bottom, Transparent 0%,Transparent 50%,red 50%,red 100%); */
    opacity: 1;
   
    
   
}

.profile-header-cover-modal {
    background-size: 100% cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    height: 120px;
    background-repeat: center no-repeat;
}

    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
        z-index: 10000;
        position: relative;
    }
    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }
    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
        background: -webkit-linear-gradient(90deg, rgba(34,193,195,0) 0%, rgba(255,255,255,1) 80%);
    }



	#content {
		overflow-y: scroll;
		height: 100vh;
	  }




#client-image{
    position:absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}

.right_button{
    position: absolute;
    z-index: 10;
    right: 10px;
}
.index {
    z-index: 10000;
}

.pagination{
    display: flex;
    align-self: baseline;
    background-color: #E9ECEF;
    
}


.access {
    position: absolute;
    bottom: 1px;
    right: 27%;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.link{
    color: #223035;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 6px 1px;
    border: 1px solid transparent;
    border-radius:.25rem;
    
}

.picked-right{
    color: white;
    background-size: 200% 200%;
    transition: background-position 0.5s ease; 
    background-image: linear-gradient(to right, white 50%, #38d39f 0);
    background-position: right;
    animation: slide-right .5s ;
  
}

.picked-left{
    color: white;
    background-size: 200% 200%;
    transition: background-position 0.5s cubic-bezier(0.25, 0.1, 0.19, 1.19); 
    background-image: linear-gradient(to right, #38d39f 50% ,  white 0%);
    background-position: left;
    animation: slide-left .5s ;
  
}



.picked-center{
    color: gray;
    background-color: #38d39f;
    background-size: 50%;
}

@keyframes center {
    0% {
        background-size: 100% 100%;
        color: #fff;
    }
    100% {
        background-size: 0% 100%;
        color: #fff;
    }
}


@keyframes slide-left {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes slide-right {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}




.link-two {
  position: relative;
  border: black;
  border-width: 1px;
  overflow: hidden;
  border-radius: 10px;
}

.link-two i {
    z-index: 10000;
    position: relative;
}

.link-two .eqname {
    z-index: 10000;
    position: relative;
}
.link-two .anime{
   background-color: #2DCD94;
   border-radius: 50%;
   position: absolute;
   top: 30%;
   left: 45%;
   animation: centerfill .5s cubic-bezier(0.18,-0.32, 0.82, 1.28) forwards;
  }

  .link-two .team{
    background-color: #2DCD94;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 45%;
    animation: eqfill .5s cubic-bezier(0.18,-0.32, 0.82, 1.28) forwards;
   }

@keyframes centerfill {
    0%   {
        width: 0px;
        height: 0px;
        top: 30%;
        left: 45%;
        background-color: #2DCD94;
    }
   
    100% {
        width: 150%;
        height:500%;
        top: -50px;
        left: -60px;
        background-color: #2DCD94;
    }
  }

  @keyframes eqfill {
    0%   {
        width: 0px;
        height: 0px;
        top: 30%;
        left: 45%;
        background-color: #2DCD94;
    }
   
    100% {
        width: 150%;
        height:500%;
        top: -90px;
        left: -10px;
        background-color: #2DCD94;
    }
  }

  .equser {
    /* clip-path: circle(50% at 50% 50%); */
    border-radius: 20%;
    white-space: nowrap;
}
 
 aside {
     top: 145px;
	 width: 100%;
	 position: absolute;
	 cursor: pointer;
     color: black;
     font-size: 12px;
	 user-select: none;
     z-index: 10;
     -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

 aside.ribbon {
	 background-color: #2DCD94;
}
 aside.ribbon:before, aside.ribbon:after {
	 top: 5px;
	 z-index: -10;
}
 aside.ribbon:before {
	 border-color: #2DCD94 #2DCD94 #2DCD94 transparent;
	 left: -22px;
	 border-width: 12px;
}
 aside.ribbon:after {
	 border-color: #2DCD94 transparent #2DCD94 #2DCD94;
	 right: -22px;
	 border-width: 12px;
}

 aside:before, aside:after {
	 content: '';
	 position: absolute;
	 height: 0;
	 width: 0;
	 border-style: solid;
	 border-width: 0;
}

aside.ribbonchef {
    background-color: #fedb10;
}
aside.ribbonchef:before, aside.ribbonchef:after {
    top: 5px;
    z-index: -10;
}
aside.ribbonchef:before {
    border-color: #fedb10 #fedb10 #fedb10 transparent;
    left: -22px;
    border-width: 12px;
}
aside.ribbonchef:after {
    border-color: #fedb10 transparent #fedb10 #fedb10;
    right: -22px;
    border-width: 12px;
}



@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  